# Diretórios e arquivos de build do Rust
target/
**/target/

# Variáveis de ambiente
.env
**/.env

# Arquivos de backup e compactados
*.zip
**/src.zip

# Arquivos de cache e de sistema
.rustc_info.json
**/CACHEDIR.TAGs